# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.B24 Ex01 Yanir Haim 807286 Mikhail Yagudaev 806634.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
